*{
    padding: 0;
    margin: 0;
    zoom: 1;
}
.intro-ul{
    margin: 10px;
    list-style-type: none;
    position: relative;
}
.intro-ul::before{
    content: '';
    width: 6px;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 15px;
    z-index: -1;
    background: rgb(255, 222, 0);
}